.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1px;
  width: 90vw; /* Muuta tämä 90% näytön leveydestä */
  height: 90vw; /* Muuta tämä 90% näytön leveydestä */
  max-width: 500px; /* Aseta maksimileveys */
  max-height: 500px; /* Aseta maksimikorkeus */
  touch-action: none;
}


.cell {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}


.cell-white {
  background-color: white;
}

.a1, .a10, .j1, .j10 {
  background-color: white;
}


.piece {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
}

/* Kolmio */
.piece-triangle:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 24px solid currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Neliö */
.piece-square:before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Ympyrä */
.piece-circle:before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: currentColor;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Salmiakki */
.piece-diamond:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 24px solid currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

@media (max-width: 480px) {
  .board {
    width: 95vw; /* Muuta tämä 95% näytön leveydestä */
    height: 95vw; /* Muuta tämä 95% näytön leveydestä */
  }
}
