.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1px;
  width: 500px;
  height: 500px;
}

.cell {
  position: relative;
  width: 100%;
  height: 100%;
}

.cell-odd {
  background-color: #a48a79;
}

.cell-even {
  background-color: #f0e0d6;
}
.cell-corner {
  background-color: black;
}

.piece {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.piece-triangle {
  background-color: #f06;
}

.piece-square {
  background-color: #06f;
}

.piece-circle {
  background-color: #0f6;
}

.piece-diamond {
  background-color: #ff0;
}

.cell:hover {
  border: 2px solid #00f;
  box-sizing: border-box;
}
